* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-100: #f4fafa;
  --primary-300: #dfebeb;
  --text-color: #10131c;

  font-size: 50%;
}

a {
  color: var(--text-color);
}

body {
  background-color: var(--primary-300);
  color: var(--text-color);

  font-size: 1.6rem;

  display: grid;
  place-items: center;
  height: 100vh;
}

body * {
  font-family: 'Poppins', sans-serif;
}

form {
  background-color: white;

  width: min(73rem, 87%);
  margin: auto;

  padding: 9rem;
  border-radius: 3.2rem;

  box-shadow: 0 0 4.8rem rgba(0 0 0 / .1);
}

form * {
  font-size: 1.4rem;
}

fieldset {
  border: 0;
}

fieldset legend {
  font-size: 3.2rem;
  font-family: "Libre Baskerville", serif;
}


/* radio */
.radio-wrapper {
  border-radius: 1.6rem;
  background-color: var(--primary-100);
  border: 1px solid #bbc1c1;
  padding: 2.4rem;
}

.radio-wrapper > div {
  display: flex;
  gap: .8rem;
}

.radio-wrapper input[type="radio"] {
  appearance: none;

  border: 1px solid #bbc1c1;
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;

  background-color: white;
}

.radio-wrapper input[type="radio"]:checked {
  background-image: radial-gradient(white, 35%, black 40%);
}

.radio-wrapper:not(:has(:checked)) {
  opacity: .6;
}

.radio-wrapper label {
  font-size: 2rem;
}

.radio-wrapper p {
  padding-left: 3.8rem;
  margin-top: 1rem;
}

legend + .radio-wrapper {
  margin-top: 6rem;
}

.radio-wrapper + .radio-wrapper,
.terms + .terms {
  margin-top: 2.4rem;
}

/* checkbox */
.terms {
  display: flex;
  gap: .8rem;

  padding-inline: 2rem;
}

.terms input[type="checkbox"] {
  appearance: none;

  flex-shrink: 0;

  border: 1px solid #6b7473;
  border-radius: .6rem;

  width: 2.8rem;
  height: 2.8rem;

  position: relative;
}

.terms input[type="checkbox"]:focus {
  outline: 2px solid black;
}

.terms input[type="checkbox"]:checked::before {
  content: "✔";
  font-size: 2.4rem;
  position: absolute;
  top: -0.6rem;
  left: .4rem;
}

.terms label {
  margin-top: .4rem;
}

.radio-wrapper + .terms {
  margin-top: 4.8rem;
}


/* button */
button {
  margin-top: 5.6rem;

  width: 100%;
  padding-block: 2rem;

  background-color: #130f28;
  color: white;

  border: 0;
  border-radius: .8rem;

  transition: background .2s;
}

button:hover {
  background-color: #2d235d;
  cursor: pointer;
}

small {
  text-align: center;
  display: block;
  margin-top: 2.8rem;
}